@use '../helpers' as *;

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(64);
    font-size: rem(24);

    &__body {
        display: grid;
        grid-template-columns: 6fr 4fr;
        column-gap: rem(30);
        width: 100%;

        @include tablet {
            grid-template-columns: 1fr;
            row-gap: rem(40);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(10);
    }

    &__question {
        transition: color 0.3s;
        cursor: pointer;

        @include hover {
            color: var(--color-accent);
        }

        &[open] {
            .faq__summary::after {
                transform: rotate(90deg);
            }
        } 
    }

    &__summary {
        position: relative;
        display: flex;
        align-items: center;
        padding: rem(8) rem(10) rem(8) 0;

        &::after {
            transition: transform 0.3s;
            content: "›";
            font-size: rem(36);
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(24);
            height: rem(24);
            right: 0;
            position: absolute;
        }

        &::marker {
            content: none;
        }
    }

    &__paragraph {
        padding-left: rem(20);
    }
}