@use '../helpers' as *;

.header {
    color: var(--text-color-light);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: rem(40);
    }

    &__list {
        display: flex;
        column-gap: rem(80);
    }

    &__soc1als {
        @include mobile-l {
            display: none;
        }

        &-list {
            display: flex;
            column-gap: rem(20);
        }
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__image {
        min-width: rem(150);
        min-height: rem(45);
    }

    &__navigation {
        @include tablet {
            display: none;
        }
    }
}