@use '../helpers' as *;

.slider {
    display: flex;
    flex-direction: column;
    row-gap: rem(40);

    @include laptop {
        justify-self: end;
    }

    @include mobile-l {
        display: none;
    }

    &__window {
        width: rem(625);
        overflow-x: hidden;
    }

    &__content {
        display: flex;
        display: flex;
        column-gap: rem(30);
        transition: transform 0.2s ease-out;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        column-gap: rem(30);
    }

    &__button {
        border: rem(2) solid var(--text-color-light);
        background-color: transparent;
        width: rem(40);
        height: rem(40);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 50%;
        color: var(--text-color-light);

        &:disabled {
            cursor: default;
            pointer-events: none;
            opacity: 0.7;
        }
    }
}