@use '../helpers' as *;

.slider-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: rem(297);
    height: rem(235);
    background: linear-gradient(180deg, transparent 0%, black 100%) no-repeat center/cover  ;
    border-radius: rem(8);
    row-gap: rem(8);
    padding: 0 0 rem(10) rem(10);

    &--1 {
        background-image: url(/main-bg.jpg);
    }

    &--2 {
        background-image: url(/bg-1.jpg);
    }

    &--3 {
        background-image: url(/bg-2.jpg);
    }
}