@use "helpers" as *;

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;
    font-weight: 400;

    @include hover {
        color: var(--color-accent);
    }

    &[class] {
        text-decoration: none;
    }
    
    &.is-active {
        color: var(--color-accent);
        pointer-events: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-accent);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

main {
    flex-grow: 1;
}

body {
    font-size: rem(16);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    letter-spacing: 0;
    line-height: 1.2;
    color: var(--text-color-dark);
    background-color: var(--background-color);
    position: relative;
    overflow-x: hidden;
}

.bg-overlay {
    background: url(/main-bg.jpg) no-repeat;
    background-size: cover;
}

html {
    &.locked {
        overflow: hidden;
    }
}

h1, .h1 {
    @include fluid-text(54, 34);
    font-weight: 500;
}

h2, .h2 {
    @include fluid-text(48, 24);
    font-weight: 400;
}

h3, .h3 {
    font-size: rem(24);
    font-weight: 500;
}

::details-content {
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
}

@supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }

    [open]::details-content {
        height: auto;
    }
}

textarea {
    resize: none;
}