@use 'helpers' as *;

:root {
    --text-color-dark: #000000;
    --text-color-light: #F3F3F3;
    --text-color-gray: #3C3C3C;
    --text-color-gray-alt: #BEBEBE;
    --text-color-light-gray: #545454;
    
    --color-accent: #33A8D5;
    --color-accent-alt: rgba(51,168,213, 0.7);
    --color-yellow: #EFA400;
    --color-current: #205871;
    --color-cyan: #8FACB8;

    --background-color: #FFFFFF;

    --font-family-base: 'Rubik', sans-serif;

    --container-width: #{rem(1280)};
    --container-padding-x: #{rem(20)};

    --transition-duration: 0.2s;
}